@font-face{
    font-family: 'Avenir';
    src: url("assets/fonts/AvenirLTStd-Book.otf") format("opentype")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Avenir", Helvetica, sans-serif;
    font-size:16px;
}

body p{
    color:white;
}


body main section{
    padding-top:60px;
}


@media only screen and (min-width:768px) and (max-width:992px){
    body{
        line-height:1.5;
    }
}

 @media only screen and (min-width:992px){
    body main section{
        height: 100vh;
    }
} 