@font-face{
    font-family: 'Avenir';
    src: url("assets/fonts/AvenirLTStd-Book.otf") format("opentype")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Avenir", Helvetica, sans-serif;
    font-size:18px;
}

body p{
    color:white;
}

@media only screen and (min-width:768px) and (max-width:1024px){
    body{
        font-size:16px;
        line-height:1.5;
    }
}