.auteursBg{
    background-image: url("../../assets/img/Auteurs/background/desktop/section_bio_bg@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    width:100vw;
};


@media only screen and (min-width: 1440px) {
    .auteurBg{
        background-image: url("../../assets/img/Auteurs/background/desktop/section_bio_bg@3x.png");
    };
}

@media only screen and (max-width: 425px) {
    .auteursBg{
        background-image: url("../../assets/img/Auteurs/background/mobile/Section_bio_bg.png"); 
        background-position: top;
    };
};

