@media only screen and (max-width: 768px){
    .ficheAuteur img{
        max-width: 80%;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .jobAuteur{
        text-align: center;
    }
}