footer{
    background-color: black;
    height:7rem;
    color:white;
    display:flex;
    align-items: center;
}

footer ul{
    display:flex;
    list-style-type: none;
    margin-bottom:0;
    padding-left: 0;
    justify-content: flex-end;
}

@media only screen and (max-width: 992px){
    footer ul{
        justify-content: space-between;
    }
}
@media only screen and (min-width: 992px){
    footer ul li{
        margin-left: 2em;
    }
}