.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    align-items: center;
}

.modal{
    z-index: 1000;
    background: #fff;
    position: relative;
    margin: auto;
    border-radius: 10px;
    padding:10px;
    width:50%;
    height:70%;
}

.modalClose{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    border: none;
    background: transparent;
}

#closeBtn{
    font-size: 20px;
}

.modalHeader{
    margin-bottom:20px;
}

.modalBody{
    position:relative;
    padding-left:25px;
}

.nomPersonnage{
    font-size:25px;
    font-weight: bolder;
}

.imagePersonnage{
    position:absolute;
    height:60%;
}

.modalBody p, .modalHeader span{
    color:black;
}

.modalBody>p:first-of-type{
    font-weight:bolder;
    font-size:2rem;
}

.imagePersonnage{
    z-index:20;
    position:relative;
}

@media only screen and (max-width: 425px){
  .modal{
    width:90%;
    height:90%;
  }

  #previous{
    display:none;
  }

  .modalClose{
    float: right;
  }
}