.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    align-items: center;
}

.modal{
    z-index: 1000;
    position: relative;
    margin: auto;
    border-radius: 10px;
    padding:1em;
    width:60%;
    height: fit-content;
    top: 1rem;
}

.modalClose{
    font-size: 1em;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    border: none;
    background: transparent;
    float: right;
    padding-top: 0;
}

#closeBtn{
    font-size: 2rem;
}

.nomPersonnage{
    font-size:2rem;
    font-weight: bolder;
}

.modalBody p, .modalHeader span{
    color:black;
}

.imagePersonnage{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.grafModal{
    display:none;
  }


@media only screen and (max-width: 576px){
    .modal{
      width:90%;
    }
}

@media only screen and (min-width: 768px){
    .grafModal{
        display: block;
        margin-left:10%;
    }

    .modalBody{
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 992px){
    .modalBody{
        position:relative;
    }

    .imagePersonnage{
        position:absolute;
        top:-6rem;
        width: 30%;
    }

    .modal{
        height: 65%;
    }
  
    .grafModal{
        margin-left:25%;
        width:60%;
    }
}

@media only screen and (min-width: 1200px){
    .modalBody{
        position:relative;
    }

    .imagePersonnage{
        position:absolute;
        top:-9rem;
        width: 30%;
    }
}