.synopsisBg{
    background-image: url("../../assets/img/Synopsis/background/desktop/synopsis_bg_desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    width:100vw;
}

.synopsisH1{
    color:white;
}

@media only screen and (max-width:425px){
    .synopsisBg{
        background-image:url("../../assets/img/Synopsis/background/Mobile/synopsis_bg_mobile@1x.jpg");
        background-position:top;
    }
}

@media only screen and (max-width:992px){
    #gasMask{
    width:70%;
    padding-left:25px;
    }
}


@media screen and (min-width: 1440px) {
    .synopsisBg{
        background-image:url("../../assets/img/Synopsis/background/desktop/synopsis_bg_desktop@3x.jpg");
    }
}
