*{
    font-size:20px;
}

.navBar{
    background-color:rgba(0, 0, 0, 0.4);
    padding:0px;
}

.navbar-brand{
    padding-right:0 !important;
}

.navLink{
    color:white!important;
}

.toggler{
    line-height: 50px;
    padding: 0!important;
}

.togglerIcon{
    color:white!important;
    width:30px;
    height:30px;
}

button {
    outline: none!important;
    box-shadow: none!important;
    border:none!important;
    padding:0!important;
}

@media only screen and (max-width:991px){
    .img-fluid{
        position:relative;
    }

    .togglerIcon{
        color:white!important;
        width:30px;
        height:30px;
        position:absolute;
        top:30px;
        right:40px;
    }

    .navLink{
        color:white!important;
        font-weight:bolder;
        opacity: 1!important;
        margin-left: auto;
        margin-right:auto;
        position:relative;
    }

    .navLink:focus{
        text-decoration: underline;
    }

    .navLink::before{
        content:'';
        display:inline-block;
        width:30px;
        height:30px;
        background-image: url('../../assets/icons/select.png');
        background-repeat: no-repeat;
        position:absolute;
        top:17px;
        left:-40px;
    }
}

 @media only screen and (min-width:992px){
     .navLink{
         padding-left: 25px!important;
     }
 }