.navBar{
    background-color:rgba(0, 0, 0, 0.815);
    z-index:5;
}

.navLink{
    color:white !important;
}

.navLink:hover, .navLink:active, .navLink.active{
    font-weight: 900!important;
}

.navBar img{
    display:inline-block;
}

.rowLogos{
    width:100%;
}

.toggler{
    line-height: 10vh;
    padding: 0!important;
}

.togglerIcon{
    color:white!important;
    width:30px;
    height:30px;
}

.navBar button {
    outline: none!important;
    box-shadow: none!important;
    border:none!important;
    padding:0!important;
}

@media only screen and (max-width:991px){
    .navLink{
        font-size:1.5rem;
    }

    .img-fluid{
        position:relative;
    }
    .rowLogos{
       margin-left:auto;
       margin-right:auto;
       text-align: center;
       --bs-gutter-x: 0;
    }

    .togglerIcon{
        color:white!important;
        width:30px;
        height:30px;
        position:absolute;
        top:32px;
        right:35px;
    }

    .navLink{
        margin: 10px auto;
        position:relative;
        padding: 0px !important;
    }

    .navLink:first-child{
        margin-top: 30px;
    }

  /*   .navLink::before{
        content:'';
        display:none;
        width:30px;
        height:30px;
        background-image: url('../../assets/icons/select.png');
        background-repeat: no-repeat;
        position:absolute;
        top:10px;
        left:-40px;
    }

    .navLink:active::before{
        display:inline-block
    } */
}

 @media only screen and (min-width:992px){
     .navLink{
         margin:0px 10px !important;
         padding-top:0px !important;
         padding-bottom: 0px !important
     }

     .rowLogos{
         align-items: center;
     }

     .rowLogos .toggler{
         justify-content: right;
     }

     .navBar{
        height:80px;
     }
 }