.navBar{
    background-color:rgba(0, 0, 0, 0.7);
}

.rowLogos{
    width:100%;
}

.navLink{
    color:white!important;
}

.toggler{
    line-height: 50px;
    padding: 0!important;
}

.togglerIcon{
    color:white!important;
    width:30px;
    height:30px;
}

button {
    outline: none!important;
    box-shadow: none!important;
    border:none!important;
    padding:0!important;
}

@media only screen and (max-width:991px){
    .img-fluid{
        position:relative;
    }
    .rowLogos{
       margin-left:auto;
       margin-right:auto;
       text-align: center;
       --bs-gutter-x: 0;
    }

    .togglerIcon{
        color:white!important;
        width:30px;
        height:30px;
        position:absolute;
        top:32px;
        right:35px;
    }

    .navLink{
        color:white!important;
        font-weight:bolder;
        opacity: 1!important;
        margin: 10px auto;
        position:relative;
        padding: 0px !important;
    }

    .navLink:first-child{
        margin-top: 30px;
    }

    .navLink:focus{
        text-decoration: underline;
    }

    .navLink::before{
        content:'';
        display:inline-block;
        width:30px;
        height:30px;
        background-image: url('../../assets/icons/select.png');
        background-repeat: no-repeat;
        position:absolute;
        top:10px;
        left:-40px;
    }
}

 @media only screen and (min-width:992px){
     .navLink{
         margin:0px 10px !important;
         padding-top:0px !important;
         padding-bottom: 0px !important
     }

     .rowLogos{
         align-items: center;
     }

     .rowLogos .toggler{
         justify-content: right;
     }
 }